.container {
   width: 100%;
   height: 200px;
   position: relative;
   margin-top: 30px;
}
.battery {
   width: 20%;
   height: 100%;
   position: relative;
   margin-top: 10px;
   overflow: hidden;
   background-color: white;
   border-radius: 6px;
   box-shadow: 0 3px 2px black;
}
.all-center {
   display: flex;
   justify-content: center;
   align-items: center;
}
.black-border {
   border: 2px solid black;
}

#charge-title {
   z-index: 1;
   color: rgb(7, 22, 2);
   font-weight: bold;
}
.top {
   position: absolute;
   width: 10%;
   height: 10px;
   top: -3px;
   background-color: white;
   border-radius: 6px;
}

.charge {
   background-color: green;
   width: 200%;
   height: 20%;
   position: absolute;
   bottom: 0px;
   transition: all 2s;
}
.charge1 {
   animation: float1 2s infinite linear alternate;
}
.charge2 {
   animation: float2 2s infinite linear alternate 2s;
}
.charge3 {
   left:-50px;
   animation: float3 15s infinite linear alternate;
   border: 2px ;
   border-radius:50%;
   bottom: 4%;
   width: 300%;
}
@keyframes float1 {
   0% {
      transform: rotate(2deg);
   }
   50% {
      transform: rotate(4deg);
   }
   100% {
      transform: rotate(6deg);
   }
}
@keyframes float2 {
   0% {
      transform: rotate(-2deg);
   }
   50% {
      transform: rotate(-4deg);
   }
   100% {
      transform: rotate(-6deg);
   }
}
@keyframes float3 {
    0% {
       transform: rotate(3deg);
    }
    25% {
        transform: rotate(-4deg);
     } 
    50% {
       transform: rotate(-5deg);
    }
    100% {
       transform: rotate(5deg);
    }
 }
