.container {
   width: 100%;
   height: fit-content;
   position: relative;
}
.battery {
   width: 12rem;
   height: 15rem;
   position: relative;
   margin-top: 10px;
   overflow: hidden;
   background-color: rgb(210, 190, 190);
   border-radius: 6px;
   box-shadow: 0 3px 2px black;
}
.all-center {
   display: flex;
   justify-content: center;
   align-items: center;
}
.black-border {
   border: 2px solid black;
}

#charge-title {
   z-index: 1;
   color: rgb(12, 4, 23);
   font-weight: bold;
}
.top {
   position: absolute;
   width: 4rem;
   height: 10px;
   top: 0px;
   background-color: rgb(210, 190, 190);
   border-radius: 6px;
}

.charge {
   background-color: green;
   width: 200%;
   height: 20%;
   position: absolute;
   bottom: -5px;
   transition: all 2s;
}
.charge1 {
   animation: float1 2s infinite linear alternate;
}
.charge2 {
   animation: float2 2s infinite linear alternate 2s;
}
.charge3 {
   left: -50px;
   border: 2px;
   bottom: -4px;
   left: -5%;
}
.charging {
   height: 40px;
   width: 40px;
   z-index: 1;
   position: absolute;
   bottom: 10%;
   visibility: hidden;
}
@keyframes float1 {
   0% {
      transform: rotate(2deg);
   }
   50% {
      transform: rotate(4deg);
   }
   100% {
      transform: rotate(6deg);
   }
}
@keyframes float2 {
   0% {
      transform: rotate(-2deg);
   }
   50% {
      transform: rotate(-4deg);
   }
   100% {
      transform: rotate(-6deg);
   }
}
@keyframes float3 {
   0% {
      transform: rotate(23deg);
   }
   50% {
      transform: rotate(26deg);
   }
   100% {
      transform: rotate(-26deg);
   }
}
@media only screen and (max-width: 700px) {
   .container {
      width: 100%;
      height:fit-content;
      margin: 0;
   }
   .battery {
      height: 17rem;
      width: 60%;
   }
   .top {
      top: -1px;
      width: 40%;
      height: 20px;
   }
}
